body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header-content {
    text-align: center; /* Center the content horizontally */
    margin: 20px 0; /* Adjust the top and bottom margin as needed */
}

h1 {
    font-size: 40px;
    background-color: #D9EEE1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px; /* Adjust the top margin as needed */
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #D9EEE1;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    display: inline-block;
}

img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #D9EEE1;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.mycontainer {
    display: flex;
    justify-content: space-around;
    overflow: auto;
    flex-wrap: wrap;
    align-content: center;
    gap: 0.5em;
}

div.recipe-container {
    background-color: #D9EEE1;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 30%;
   
    
}

.recipe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4 {
    text-align: center;
    background-color: #D9EEE1;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contact {
    background-color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}